.acards {
  padding: 3rem;
  background: #fff;
  display: block;
  align-items: center;
}

h1 {
  text-align: center;
  display: block;
  padding-bottom: 70px;
}

.skills {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1120px;
  height: auto;
  flex-grow: 4;
  margin: 0 auto;
  justify-content: space-around;
  flex-basis:auto;
  align-content: space-around;
}

.img {
  height: 15vh;
  width: auto;
  align-self: auto;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .acards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .acards__item {
    margin-bottom: 2rem;
  }
}